{% extends 'base.html' %}
{% block content %}

<h1>skills index page</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>    
{% for skill in skills %}
    <tr>
        <td>{{ skill.name }}</td>
        <td>
            {%if skill.completed %}
                Done
            {% else %}
                Incomplete
            {% endif %}
        </td>
        <td><a href="{% url 'skills_update' skill.id %}">Edit</a></td>
        <td><a href="{% url 'skills_delete' skill.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'skills_create' %}">
    <button>Add New Skill</button>
</a>
{% endblock %}